.bg-image {
    background-image: url(../media/pokedex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.card {
    image-rendering: pixelated;
}

.card-title {
    font-weight: bold;
}

#imageNav {
    height: 30px;
}